.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	background-color: var(--cyanblue);
	padding: 2% 0;
}

.menu a {
	color: white;
	font-size: 1em;
	padding: 0 20px;
	border-radius: 20px;
	outline: none;
	text-decoration: none;
	white-space: nowrap;
}

a:focus {
	transform: scale(1.02);
	background-color: orange;
	color: white;
	box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.2);
}

a:hover {
	transform: scale(1.02);
	transition: ease-in-out .2s;
	background-color: orange;
	box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.2);
}

a:active {
	background-color: white;
	color: orange;
}

label {
	line-height: 70px;
	font-size: 1.5em;
	display: none;
}

#toggle {
	display: none;
}

/*Second section*/

.header-container {
	display: flex;
	justify-content: center;
	margin-top: 7%;
	height: 200px;
	max-height: 20%;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: lightblue;
}

.subscribe-container {
	width: 33%;
	display: flex;
	justify-content: flex-start;
}

.subscribe-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

.subscribe-item button {
	width: 100px;
	height: 100%;
	border: 1px solid black;
	display: block;
	flex: 1 20 100%;
	flex-direction: row;
	justify-content: center;

	/*Button pretty*/
	border-radius: 25px;
	outline: none;
	margin: 5px;
	background-color: whitesmoke;
}

.subscribe-item :hover {
	transition: ease-in .2s;
	background-color: orange;
}

.subscribe li {
	list-style: none;
}

.title {
	display: flex;
	flex: 1;
	justify-content: center;
	font-size: 50px;
	letter-spacing: 5px;
	font-family: 'Courier New', Courier, monospace;
	border-bottom: .1px solid lightgrey;
}

.socialmedia {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.socialmedia i {
	padding: 20px;
}

.addpost-button {
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 20px;
	background-color: white;
	color: var(--cyanblue);
}

/* Mobile Styles */
@media screen and (min-width: 401px) and (max-width: 600px) {
	label {
		display: block;
		cursor: pointer;
		color: white;
		width: 100%;
		text-align: right;
		padding-right: 2%;
		background-color: var(--cyanblue);
	}

	.menu {
		display: none;
	}

	.menu a {
		display: block;
		text-align: right;
		padding: 2% 2%;
		margin: 2% 2%;
	}
	#toggle:checked + .menu {
		display: block;
	}
}
