<div class="login-container">
    <div class="headline-container">
        <h1>Login</h1>
    </div>
    <div class="content-container">
        <label>Username</label>
        <input type="text" placeholder="Username..">
    </div>
    <br>
    <div class="content-container">
        <label>Password</label>
        <input type="password" placeholder="..">
    </div>
    <div class="button-container">
        <button id="accept">Accept</button>
        <button id="cancel">Cancel</button>
    </div>
</div>