<div class = "site">

<div class = "hero-text" id = 'title'>
  <h1>Minder fra Østen</h1>
  <p>Rasmus og Louise</p> 
</div>

  <div class = "image-container">
    <img src   = "assets/images/båd.jpg" alt = "" width = "100%">
    <div class = "text">Båd</div>
  </div>
  <div class = "image-container">
    <img src   = "assets/images/elefant2.jpg" alt = "" width = "100%">
    <div class = "text">Elefant</div>
  </div>
  <div class = "image-container">
    <img src   = "assets/images/elefant3.jpg" alt = "" width = "100%">
    <div class = "text">Elefanter</div>
  </div>
  <div class = "image-container">
    <img src   = "assets/images/elefant4.jpg" alt = "" width = "100%">
    <div class = "text">Thailand</div>
  </div>
  <div class = "image-container">
    <img src   = "assets/images/Thailandstrand.jpg" alt = "" width = "100%">
    <div class = "text">Strand</div>
  </div>
  <div class = "image-container">
    <img src   = "assets/images/elefant1.jpg" alt = "" width = "100%">
    <div class = "text">Cambodia</div>
  </div>
</div>
