<div class="wrapper">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="jumbotron">
  <div class="hero-text">
  <h1>Minder fra Østen</h1>
  <p>Rasmus og Louise</p> 
</div>
</div>

<div class="row">
  <div class="column"> 
        <img src="assets/images/båd.jpg" alt="" width="100%">
        <div class="text">Båd</div>
  </div>
  <div class="column">
      <img src="assets/images/elefant2.jpg" alt="" width="100%">
      <div class="text">Elefant</div>
    </div>
    <div class="column">
        <img src="assets/images/elefant3.jpg" alt="" width="100%">
        <div class="text">Elefanter</div>
      </div>
      <div class="column">
          <img src="assets/images/elefant4.jpg" alt="" width="100%">
          <div class="text">Mig og to elefanter</div>
        </div>
        <div class="column">
            <img src="assets/images/Thailandstrand.jpg" alt="" width="100%">
            <div class="text">Strand</div>
          </div>
          <div class="column">
              <img src="assets/images/elefant1.jpg" alt="" width="100%">
              <div class="text">Mig og Louise</div>
            </div>
</div>
</body>
</div>
